<p id="notice"><%= notice %></p>

<h1>Key-Val</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Val</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kvs.each do |kv| %>
      <tr>
        <td><%= kv.key %></td>
        <td><%= kv.val %></td>
        <td><%= link_to 'Show', kv %></td>
        <td><%= link_to 'Edit', edit_kv_path(kv) %></td>
        <td><%= link_to 'Destroy', kv, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kv', new_kv_path %>
